{% extends 'base.html' %}

{% block title %} >Acerca de.. {% endblock %}

{% block content %} 
	<br>	Acerca de nosotros

<p>{{msg}}</p>
<section class="textogeneral">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lacinia leo. Fusce a vehicula elit. Pellentesque consectetur est non lectus dictum, quis lobortis nunc consectetur. Proin orci risus, gravida consequat interdum non, sodales vitae diam. Quisque pharetra fermentum urna quis molestie. Maecenas vel turpis sit amet turpis eleifend imperdiet. Ut ultricies tincidunt risus finibus lobortis. Sed vitae volutpat tortor.</p>


	<p>Fusce scelerisque, purus eu egestas aliquam, risus justo tempor felis, quis elementum lacus augue vel nibh. Cras ullamcorper euismod erat, sed vehicula diam dictum non. Nullam eu lectus venenatis, finibus tortor at, eleifend nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus ante sem, gravida nec dolor nec, pellentesque ultrices enim. Mauris in placerat dui. Suspendisse erat nulla, tincidunt finibus erat et, convallis fermentum urna. Vestibulum nec euismod mauris, a sodales neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse vitae tellus ex. Nunc at justo eget sapien pharetra tempor non eget nibh. Sed fermentum cursus augue commodo feugiat. Nullam gravida posuere nisl, at pulvinar dolor auctor varius. Ut lorem ante, finibus id scelerisque at, varius ut lacus. Phasellus id dignissim velit, at tempor orci.</p>
</section>

{% endblock %}

