{% extends 'base.html' %}

{% block title %} Acerca de.. {% endblock %}

{% block content %} 

<!--
<style type="text/css">
      #myCarousel {
        
        position: center;
    	}
    	#imgcarousel1{
    		
    	}
        </style>
    -->


<!--
<div id="myCarousel" class="carousel">

	<ol class="carousel-indicators">
		<li data-target = "#myCarousel" data-slide-to = "0" class="active"> </li>
		<li data-target = "#myCarousel" data-slide-to = "1"> </li>
		<li data-target = "#myCarousel" data-slide-to = "2"> </li>
	</ol>

	<div class="carousel-inner" id="imgcarousel1">
		<div class="item active">
			<img src="/media/images/wp1.jpg" alt="AMT1" class="img-responsive">
			<div class="carousel-caption">
				<h3>AMT GYM</h3>
				<p>Ven a disfrutar con nosotros con gran actitud!</p>
			</div>
		</div>

		<div class="item">
			<img src="/media/images/wp2.jpg" alt="AMT2" class="img-responsive">
			<div class="carousel-caption">
				<h3>CAMPEONATO</h3>
			</div>
		</div>

		<div class="item">
			<img src="/media/images/wp3.jpg" alt="AMT4" class="img-responsive">
			<div class="carousel-caption">
				<h3>MARTES DE CARRETA</h3>
			</div>
		</div>
	</div> 

	<a class="carousel-control left" href="#myCarousel" data-slide="prev">
		<span class="icon-prev"></span>
	</a>

	<a class="carousel-control right" href="#myCarousel" data-slide="next">
		<span class="icon-next"></span>
	</a>
</div>
-->
<div id="myCarousel" class="carousel">

	<ol class="carousel-indicators">
		<li data-target = "#myCarousel" data-slide-to = "0" class="active"> </li>
		<li data-target = "#myCarousel" data-slide-to = "1"> </li>
		<li data-target = "#myCarousel" data-slide-to = "2"> </li>
	</ol>

	<div class="carousel-inner">
		<div class="item active">
			<div class="container">
				<div class="slide-wrapper">
					<div class="row">
						<div class="col-lg-6">
							<div class="slide-image">
								<div class="thumbnail imathumb">
									<img src="/media/images/amtgym1.jpg" alt="AMT1" class="img-responsive">
								</div><!-- /.thumbnail -->
							</div> <!-- ./ SLIDE IMAGE -->
						</div>
						<div class="col-lg-6">
							<div class="slide-content">
								<h1>Aldamas Muay Thai GYM</h1>
								<p>SOMOS UNA FAMILIA</p>
								<a href="#" class="btn btn-primary">MAS INFORMACI&Oacute;N!</a> <br><br>
							</div> <!-- ./ SLIDE CONTENT -->
						</div>
					</div><!-- ./ROW -->
				</div> <!-- /.GRAPPER -->
			</div> <!-- /.CONTAINER  -->
		</div><!--  /.ITEM ACTIVE -->
		<div class="item">
			<div class="container">
				<div class="slide-wrapper">
					<div class="row">
						<div class="col-lg-6">
							<div class="slide-image">
								<div class="thumbnail imagen-thumb">
									<img src="/media/images/amtgym2.jpg" alt="AMT2" class="img-responsive">
								</div><!-- /.thumbnail -->
							</div> <!-- ./ SLIDE IMAGE -->
						</div>
						<div class="col-lg-6">
							<div class="slide-content">
								<h1>Aldamas Muay Thai GYM</h1>
								<p>SOMOS UNA FAMILIA</p>
								<a href="#" class="btn btn-primary">MAS INFORMACI&Oacute;N!</a><br><br>
							</div> <!-- ./ SLIDE CONTENT -->
						</div>
					</div><!-- ./ROW -->
				</div> <!-- /.GRAPPER -->
			</div> <!-- /.CONTAINER  -->
		</div><!--  /.ITEM ACTIVE -->
		<div class="item">
			<div class="container">
				<div class="slide-wrapper">
					<div class="row">
						<div class="col-lg-6">
							<div class="slide-image">
								<div class="thumbnail imagen-thumb">
									<img src="/media/images/amtgym4.jpg" alt="AMT4" class="img-responsive">
								</div><!-- /.thumbnail -->
							</div> <!-- ./ SLIDE IMAGE -->
						</div>
						<div class="col-lg-6">
							<div class="slide-content">
								<h1>Aldamas Muay Thai GYM</h1>
								<p>SOMOS UNA FAMILIA</p>
								<a href="#" class="btn btn-primary">MAS INFORMACI&Oacute;N!</a><br><br>
							</div> <!-- ./ SLIDE CONTENT -->
						</div>
					</div><!-- ./ROW -->
				</div> <!-- /.GRAPPER -->
			</div> <!-- /.CONTAINER  -->
		</div><!--  /.ITEM ACTIVE -->
	</div> <!-- /.Carousel Inner-->

	<a class="carousel-control left" href="#myCarousel" data-slide="prev"><span class="icon-prev"></span></a>

	<a class="carousel-control right" href="#myCarousel" data-slide="next"> <span class="icon-next"></span></a>
</div>

<section >
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lacinia leo. Fusce a vehicula elit. Pellentesque consectetur est non lectus dictum, quis lobortis nunc consectetur. Proin orci risus, gravida consequat interdum non, sodales vitae diam. Quisque pharetra fermentum urna quis molestie. Maecenas vel turpis sit amet turpis eleifend imperdiet. Ut ultricies tincidunt risus finibus lobortis. Sed vitae volutpat tortor.</p>


	<p>Fusce scelerisque, purus eu egestas aliquam, risus justo tempor felis, quis elementum lacus augue vel nibh. Cras ullamcorper euismod erat, sed vehicula diam dictum non. Nullam eu lectus venenatis, finibus tortor at, eleifend nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus ante sem, gravida nec dolor nec, pellentesque ultrices enim. Mauris in placerat dui. Suspendisse erat nulla, tincidunt finibus erat et, convallis fermentum urna. Vestibulum nec euismod mauris, a sodales neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse vitae tellus ex. Nunc at justo eget sapien pharetra tempor non eget nibh. Sed fermentum cursus augue commodo feugiat. Nullam gravida posuere nisl, at pulvinar dolor auctor varius. Ut lorem ante, finibus id scelerisque at, varius ut lacus. Phasellus id dignissim velit, at tempor orci.</p>
</section>


<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/media/js/engine1/jquery.js"></script>
    <script src="/media/js/jquery.js"></script>
    <script src="/media/bootstrap/js/bootstrap-transition.js"></script>
    <script src="/media/bootstrap/js/bootstrap-alert.js"></script>
    <script src="/media/bootstrap/js/bootstrap-modal.js"></script>
    <script src="/media/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/media/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="/media/bootstrap/js/bootstrap-tab.js"></script>
    <script src="/media/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/media/bootstrap/js/bootstrap-popover.js"></script>
    <script src="/media/bootstrap/js/bootstrap-button.js"></script>
    <script src="/media/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="/media/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="/media/bootstrap/js/bootstrap-typeahead.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
    <script src="/media/bootstrap/js/holder/holder.js"></script>

{% endblock %}

