{% extends 'base.html' %}
{% block title %} Contacto {% endblock %}
{% block content %} 
	<div class="container-fluid">
		{% if info_enviado %}
			<h3>Gracias por enviar tu comentario. Nos pondremos en contacto contigo</h3><br>
			La informacion reciboda fue:
			<p>Email utilizado: {{email}}</p>
			<p>Titulo: {{titulo}}</p>
			<p>Texto: {{texto}}</p>
		{% else %}
			<form action="." method="POST" >
				{% csrf_token %}
				{{form.as_p}}
				<button type="submit" class="btn btn-primary">Enviar</button>
			</form>
		{% endif %}
	</div>
{% endblock %}
