{% extends 'base.html' %}

{% block title %} Bienvenidos {% endblock %} 

{% block content %} 

<div class="panel panel-default">
  <div class="panel-heading"><h4>Aldama's Muay Thai </h4></div>
  <div class="panel-body">
	    
		
		{% if user.is_authenticated %}
			<h3>Bienvenido {{ user.username }} </h3>
			{% if user.get_profile.photo %}
				<img src="/media/{{ user.get_profile.photo }}" />
			{% endif %}
			{% if user.get_profile.telefono %}
				<p>Numero de Tel: {{ user.get_profile.telefono }}</p>
			{% endif %}
		{% endif %}

		PENDIENTE EL FOTO TEL, ETC
  </div>
</div>


{% endblock %}
