{% extends 'base.html' %}
{% block title %} Agregar Producto {% endblock %}
{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">Agregar Producto Nuevo</div>
  <div class="panel-body">

    <form action ="." method="POST" enctype="multipart/form-data"  >
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Guargar">
		<input type="reset" value ="Limpiar">
	</form>

		<br>
		{{informacion}}
		<br>
		<a href="/productos/page/1/">Productos</a>
  </div>
</div>
	
{% endblock %}

